{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <br>
    <select class="filter-category">
        <option value="all">All</option>
        {% for cat in categorys %}
            <option value="{{ cat.name }}" {% if category == cat.name %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
    </select>
    <br>
    <div id="block-message"></div>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qte</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="data-product-table">
            {% for product in products %}
                <tr id="block-content-{{ product.id }}">
                    <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.qte }}</td>
                    <td>{% if product.categorie %} {{ product.categorie.name }} {% else %} --- {% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                            </li>
                            <li>
                                {#                                <a href="#" onclick="deleteProduct('{{ product.id }}')">delete</a>#}
                                <a href data-id="{{ product.id }}" class="delete-product">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function deleteProduct(id) {
        {#            alert(id);#}
                console.log(id);
            }

            $('.delete-product').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                if (confirm('Voulez vous supprimez le produit avec l\'id ' + id)) {
                    $.ajax({
                        url: Routing.generate("product_remove", {id: id}),
                        method: "DELETE",
                        data: {},
                        success: function (result) {
        {#                            location.reload();#}
                            $('#block-message').html(result);
                            $('#block-content-' + id).remove();
                        },
                        error: function (error) {

                        }
                    });
                }
            });

        {#$('.filter-category').on('change', function (){
            window.location.replace(Routing.generate('product_index', {category: $('.filter-category').val()}));
        });#}
            $('.filter-category').on('change', function () {
                $.ajax({
                    url: Routing.generate('product_index_json', {category: $('.filter-category').val()}),
                    method: "POST",
                    data: {},
                    success: function (result) {
                        var data = '';
                        for (var i = 0; i < result.length; i++) {
                            var produit = result[i];
                            var html = '<tr id="block-content-' + produit.id + '">' +
                                    '<td><a href="' + Routing.generate('product_show', {'id': produit.id}) + '">' + produit.id + '</a></td>' +
                                    '<td>' + produit.name + '</td>' +
                                    '<td>' + produit.price + '</td>' +
                                    '<td>' + produit.qte + '</td>' +
                                    '<td>' + produit.categorie.name + '</td>' +
                                    '<td>' +
                                    '<ul>' +
                                    '<li>' +
                                    '<a href="' + Routing.generate('product_show', {'id': produit.id}) + '">show</a>' +
                                    '</li>' +
                                    '<li>' +
                                    '<a href="' + Routing.generate('product_edit', {'id': produit.id}) + '">edit</a>' +
                                    '</li>' +
                                    '<li>' +
                                    '<a href data-id="' + produit.id + '" class="delete-product">delete</a>' +
                                    '</li>' +
                                    '</ul>' +
                                    '</td>' +
                                    '</tr>';
                            data += html;
                        }
                        
                            $('#data-product-table tr').remove();
                            $('#data-product-table').append(data);
                    }
                });
            });
    </script>
{% endblock %}
