<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/starter-template.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'AppBundle:layout:nav.html.twig' %}
        <div class="container">
            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>
        </div>
    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('assets/js/jquery.js') }}" ></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>
